// materialize.js overrides

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

:-moz-placeholder {
   color: rgba(255, 255, 255, 0.8);
}

::-moz-placeholder {
   color: rgba(255, 255, 255, 0.8);
}

:-ms-input-placeholder {
   color: rgba(255, 255, 255, 0.8);
}

// override  dropdown content class
.dropdown-content {
    li > span {
        color: #555;
    }
}
